html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;-webkit-tap-highlight-color:rgba(0,0,0,0);}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}body{line-height:1;}ol,ul{list-style:none;}blockquote,q{quotes:none;}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}table{border-collapse:collapse;border-spacing:0;}.group:after{content:"";display:table;clear:both;}html{height:100%;}
body{
    height:100%;
    -webkit-transition: scrollTop 0.75s;
}
a{color:#c50000;text-decoration:none;}
a:hover{color:#e70000;}
.btn{background-color:#c50000;color:#ffffff;}
.btn:hover{color:#ffffff;background-color:#e70000;}
.btn:active{color:#ffffff;background-color:#b40000;}
.btn {
    line-height: 1;
    border: 0;
    margin: 0;
    padding: 11px 14px 9px 14px;
    font-size: 16px;
    display: inline-block;
    text-align: left;
    outline: none;
    vertical-align: top;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    text-align: center;
    white-space: nowrap;
    position: relative;
    font-weight: 300;
}
body {
    margin: 0;
    min-width: 1248px;
    padding: 0;
    color: #45474d;
    font-family: 'Roboto Condensed', Helvetica Neue,Arial,sans-serif;
    line-height: 1;
    font-weight: 300;
    text-align: left;
    text-rendering: optimizeLegibility;
    background: #E4E7EC;
}
h1 {
    padding: 0;
    font-size: 60px;
    line-height: 1;
    margin-left: -3px;
    letter-spacing: -3px;
    font-weight: 100;
    text-align: left;
}
#content {
    max-width: 1248px;
    height: 100%;
    margin: 0 auto;
    position: relative;
    background-color: #fff;
}
#menu {
    position: fixed;
    left: 0;
    z-index: 99999999;
    background: transparent;
    width: 100%;
    min-width: 1248px;
    height: 80px;
}

nav {
    background: rgba(255,255,255,0.75);
    height: 80px;
    max-width: 1248px;
    margin: 0 auto;
    box-shadow: rgba(0, 0, 0, 0.498039) 0px 0px 0px;
}
nav .inner{
    position: relative;
    float:left;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 40px;
    width:100%;
}
nav a {
    z-index: 10;
    position: relative;
    display: inline-block;
    font-size: 19px;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    color: #302a1a;
    margin: 20px 30px 0 0;
    padding: 10px;
    -webkit-font-smoothing: antialiased;
    transition: color 1s;
    -webkit-transition: color 0.5s;
}
nav .r {
    float: right;
}
.blog-link{
    color: white;
    margin: 20px 5px 0 0;
    background: rgba(128,128,128,0.6);
}

nav .hover{
    color: #fff;
}

nav #hover-div{
    z-index: 1;
    position: absolute;
    display:block;
    left: 35px;
    height: 20px;
    top: 20px;
    width:125px;
    background: #c50000;
    color: #fff;
    padding: 10px 15px;
    opacity: 0.85;
    transition: left 0.75s, width 0.75s;
    -webkit-transition: left 0.75s, width 0.75s;
}
nav p {

    display: inline-block;
    color: #aaa;
}
#footer {
    font-size: 14px;
    color: #999;
    clear: both;
    padding: 44px 0 40px 0;
    height: 12px;
    background: #222;
    border-bottom: 4px solid #c50000;
}
#footer .inner {
    padding: 0 20px;
    min-width: 290px;
    max-width: 1100px;
    margin: 0 auto;
}
#footer a {
    color: #fff;
}
#footer p.copy {
    float: left;
}
#footer div.links .list {
    float: right;
    margin-right: 20px;
}
a#lang-switcher{
    color: #999;
    padding-left: 40px;
}
.panel{
    position: relative;
    height: 100%;
    min-height: 700px;
    max-height: 2000px;
}
.top-bg{
    position: absolute;
    top:0;
    width:100%;
    bottom:0;
    background-color: #afb2b9;
    background-image: url(./img/light_gray_bg.jpg) repeat-x;
}
.top-bg-gray{
    position: absolute;
    top:0;
    width:100%;
    bottom:0;
    background: #45474d;
    background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0, rgb(59,61,67)), color-stop(1, rgb(123,125,130)) );
}
.top-bg-darkgray{
    position: absolute;
    top:0;
    width:100%;
    bottom:0;
    background: #eaeaea;
    /*background: #393b40;
    background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0, rgb(42,42,45)), color-stop(1, rgb(55,55,58)) );*/
}

.blurb {
    width: 360px;
    margin: 0;
    padding: 0;
    padding-top: 80px;
    display: table-cell;
    vertical-align: middle;
}
.blurb.right{
    width: 750px;
    padding-left: 50px;
}
.blurb.top{
    position:adsolute;
    left:470px;
    vertical-align: top;
}
.img-right{
    padding-right: 40px;
}

.blurb p {
    margin: 10px 0 22px;
    font-size: 18px;
    line-height: 1.5;
    color: #777;
}
.blurb h1 {
    max-width: 380px;
    color: #fafafa;
}
.blurb.right h1{
    color: #fafafa;
}
.progress {
    height: 4px;
    display: block;
    background: #c50000;
    border-radius: 2px;
}
.panel .inner {
    margin: 0 0 0 40px;
    display: table;
    vertical-align: middle;
    height: 100%;
}
.bar {
    background: rgba(0, 0, 0, 0.1);
    height: 4px;
    width: 360px;
    margin-bottom: 25px;
    margin-left: 3px;
    content: " ";
    display: block;
}
.group:after {
    content: "";
    display: table;
    clear: both;
}

#screens {
    height: 1560px;
}
#gallery {
    margin: 60px 0 0 60px;
}
#gallery img {
    float: left;
    padding-bottom: 30px;
    padding-right: 30px;
    width:260px;
    height: 462px;
}

#demo-frame {
    position:absolute;
    z-index:10;
}
#tablet {
    position:absolute;
    left: 70px;
    z-index:1;
}