/* Sprites */
/* star colors*/
/*text color*/
/*Borders*/


.text-left {
    text-align: left; }

.text-right {
    text-align: right; }

.text-center {
    text-align: center; }

p {
    margin: 0 0 10px;
}

h1, h2, h3, h4, h5, h6 {
    margin: 10px 0;
    font-family: inherit;
    font-weight: bold;
    line-height: 20px;
    color: inherit;
    text-rendering: optimizelegibility; }
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
    font-weight: normal;
    line-height: 1;
    color: #999999; }

h1,
h2,
h3 {
    line-height: 40px; }

h1 {
    font-size: 38.5px; }

h2 {
    font-size: 31.5px; }

h3 {
    font-size: 24.5px; }

h4 {
    font-size: 17.5px; text-align: left;}

h5 {
    font-size: 14px; }

h6 {
    font-size: 11.9px; }

h1 small {
    font-size: 24.5px; }

h2 small {
    font-size: 17.5px; }

h3 small {
    font-size: 14px; }

h4 small {
    font-size: 14px; }



@font-face {
  font-family: "museo";
  font-weight: normal;
  font-style: normal;
  src: url("font/museo-500.eot");
  src: url("font/museo-500.eot?#iefix") format("embedded-opentype"), url("font/museo-500.woff") format("application/font-woff"), url("font/museo-500.ttf") format("truetype"), url("font/museo-500.svg#museo") format("svg"); }

@font-face {
  font-family: "museo";
  font-weight: 600;
  font-style: normal;
  src: url("font/museo-700.eot");
  src: url("font/museo-700.eot?#iefix") format("embedded-opentype"), url("font/museo-700.woff") format("application/font-woff"), url("font/museo-700.ttf") format("truetype"), url("font/museo-700.svg#museo") format("svg"); }

@font-face {
  font-family: "museo-sans";
  font-weight: normal;
  font-style: normal;
  src: url("font/museo-sans-500.eot");
  src: url("font/museo-sans-500.eot?#iefix") format("embedded-opentype"), url("font/museo-sans-500.woff") format("application/font-woff"), url("font/museo-sans-500.ttf") format("truetype"), url("font/museo-sans-500.svg#museo-sans") format("svg"); }

@font-face {
  font-family: "museo-sans";
  font-weight: 600;
  font-style: normal;
  src: url("font/museo-sans-700.eot");
  src: url("font/museo-sans-700.eot?#iefix") format("embedded-opentype"), url("font/museo-sans-700.woff") format("application/font-woff"), url("font/museo-sans-700.ttf") format("truetype"), url("font/museo-sans-700.svg#museo-sans") format("svg"); }

/*Default overwrites*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0;
  /* <-- Apparently some margin are still there even though it's hidden */ }

/* bootstrp overwrites */
h1, h2, h3, h4, h5, h6, h7 {
  margin: 5px 0px; }

input[type="radio"], input[type="checkbox"] {
  margin: 0 2px 0 0; }

a {
  color: inherit;
  text-decoration: none; }
  a:focus, a:hover {
    color: inherit;
    text-decoration: none; }

ul {
  margin: 0;
  padding: 0; }
  ul li {
    list-style: none; }

a {
  color: inherit;
  text-decoration: none; }
  a:focus, a:hover {
    color: inherit;
    text-decoration: none; }

ul {
  margin: 0;
  padding: 0; }
  ul li {
    list-style: none; }

.inline-block {
  display: inline-block; }

.v-top {
  vertical-align: top; }

.v-middle {
  vertical-align: middle; }

.stick-info 
{
	position: fixed;
	max-width: 768px;
	width: 100%;
	z-index: 1000;
	background-color: #fcfbf7;
    -webkit-box-shadow: 0 5px 6px -6px #dbd8d3;
    -moz-box-shadow: 0 5px 6px -6px #dbd8d3;
    box-shadow: 0 5px 6px -6px #dbd8d3;
}

.stick-info .stick-info-con 
{
	min-height: 35px;
	padding: 10px 5px 5px 5px;
}

.stick-info .stick-info-con.large 
{
	min-height: 75px; 
}

.stick-info-spacer {
  height: 45px; 
}

.li-top-info {
  padding: 5px;
  background-color: #f6f4e7;
  border: 1px solid #dbd8d3; }

.t-btn {
  background: transparent;
  border: none;
  box-shadow: none;
  padding: 0;
  padding-top: 2px; }

.btn.t-btn:hover {
  background-color: transparent; }

.sec.ex-pad {
  padding-left: 20px;
  padding-right: 20px; }

.ex-pad {
  padding-left: 20px;
  padding-right: 20px; }

.btn {
  padding: 5px; }
  .btn.ex-pad {
    padding-left: 30px;
    padding-right: 30px; }
  .btn.l-pad {
    padding-left: 30px; }
  .btn.r-pad {
    padding-right: 30px; }
  .btn.relative {
    position: relative; }

.btn.order-type-link, .btn.payment-type-link, .btn.discount-link {
  min-width: 107px;
  margin-left: 25px; }
.btn.order-type, .btn.payment-type {
  width: 125px;
  margin-bottom: 10px; }

a.go-back {
  width: 40px;
  height: 38px;
  display: inline-block;
  text-align: left; }

.order-status-info {
  margin: 0 auto;
  padding-top: 50px;
  max-width: 80%; }
  .order-status-info #counter {
    display: block;
    font-size: 40px;
    margin: 25px auto 35px;
    text-align: left;
    white-space: nowrap;
    width: 105px; }

.add-btn, .remove-item {
  padding: 2px 7px 3px;
  margin: 0;
  background-color: #137500;
  border: none;
  border-radius: 5px;
  text-align: center; }

.navbar-spacer {
  width: 100%;
  height: 40px; }

.navbar .brand {
  max-width: 140px;
  margin-left: 0;
  padding-left: 10px;
  padding-right: 10px; }

.navbar .navbar-inner .nav-left-con {
  display: inline-block;
  float: right;
  margin-top: 5px;
  margin-right: 5px; }

.navbar .brand.center {
  position: absolute;
  left: 50%;
  top: 0px;
  margin-left: -81.5px; }

.nav .op-info {
  margin: 10px 3px 0px; }
.nav .h-info {
  font-size: 20px;
  vertical-align: top;
  margin-top: 5px; }
.nav .info {
  display: inline-block;
  font-size: 10px;
  line-height: 10px; }

.navbar-inverse.navbar-fixed-bottom {
  margin: 0 auto;
  max-width: 768px;
  width: 100%;
  height: 49px; }
  .navbar-inverse.navbar-fixed-bottom.large {
    height: 69px; }
    .navbar-inverse.navbar-fixed-bottom.large .stick-title {
      background-color: #ee4d0c;
      color: #ffffff;
      padding-left: 5px; }
  .navbar-inverse.navbar-fixed-bottom .navbar-inner {
    padding: 5px; }
    .navbar-inverse.navbar-fixed-bottom .navbar-inner.ot-border {
      border-top: 5px solid #ee4d0c; }
  .navbar-inverse.navbar-fixed-bottom.small {
    height: 30px; }

@media (max-width: 767px) {
  .navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top {
    margin-left: 0px;
    margin-right: 0px; } }

.navbar-inverse-spacer.bottom {
  height: 49px; }
  .navbar-inverse-spacer.bottom.small {
    height: 30px; }
  .navbar-inverse-spacer.bottom.large {
    height: 69px; }

.navbar-inner.search {
  min-height: 0;
  height: 27px;
  padding: 5px;
  background-color: #9b0e05;
  background-image: none; }
  .navbar-inner.search .btn {
    margin-top: 0;
    padding: 3px 7px; }

.navbar.navbar-fixed-top .navbar-inner.search {
  display: none; }

.navbar.navbar-fixed-top.searching .btn-secondary {
  margin: 0; }

.navbar-search-spacer {
  height: 37px;
  display: none; }

section.sec {
  border-left: 4px solid #a6cf74;
  border-right: 4px solid #a6cf74;
  padding-left: 5px;
  padding-right: 5px;
  background-color: #fefdf9; }
  section.sec.premium {
    border-color: #FFBB00;
    padding-top: 10px;
    background: #fdf8d2;
    background: -webkit-gradient( linear, left bottom, left top, color-stop(0, #fdf8d2), color-stop(1, #fff8e7) );
    background: -ms-linear-gradient( bottom, #fff8e7, #fdf8d2 );
    background: -moz-linear-gradient( center bottom, #fdf8d2 0%, #fff8e7 100% );
    background: -o-linear-gradient( #fff8e7, #fdf8d2 );
    filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff8e7', endColorstr='#fdf8d2', GradientType=0)"; }
  section.sec.disabled {
    border-color: #bababa; }
  section.sec.danger {
    border-color: #e21309;
    background-color: #f9f8f6; }
    section.sec.danger .star-rating .filled-con .filled {
      color: #999999; }
  section.sec.extra-padding {
    padding-top: 10px; }

.fix-fixed-positon {
  position: static !important; }

.fix-fixed-positon.stick-info-spacer, .fix-fixed-positon.navbar-spacer, .fix-fixed-positon.navbar-inverse-spacer {
  display: none; }

ul.media-list {
  margin: 0; }
  ul.media-list > li {
    list-style: none;
    padding: 7px 0;
    margin: 0;
    position: relative;
    border-bottom: 1px solid #ccc; }
    ul.media-list > li .media-object-wrapper {
      background: #fff;
      margin-left: 13px;
      border: #ccc;
      height: 57px;
      width: 100px;
      display: table; }
      ul.media-list > li .media-object-wrapper figure {
        display: table-cell;
        vertical-align: middle; }
      ul.media-list > li .media-object-wrapper img.media-object {
        margin: 0 auto; }
    ul.media-list > li .c-white.btn {
      bottom: 7px;
      padding: 5px 10px;
      position: absolute;
      right: 0;
      width: 65px;
      text-align: center; }

.star-rating {
  position: relative;
  overflow: hidden;
  letter-spacing: -1px; }
  .star-rating .empty {
    color: #dbddde; }
  .star-rating ul {
    margin: 0; }
    .star-rating ul li {
      display: inline-block; }
  .star-rating .filled-con {
    position: absolute;
    overflow: hidden;
    color: gold;
    top: 0; }
    .star-rating .filled-con .filled {
      width: 200px; }

ul.list {
  padding: 0;
  margin: 0; }
  ul.list > li {
    padding: 5px 0;
    list-style: none;
    border-bottom: 1px solid #ccc; }
    ul.list > li h4 {
      color: darkred; }
  ul.list.congested > li {
    border-bottom: none;
    padding: 0; }

ul.list {
  padding: 0;
  margin: 0; }
  ul.list.ex-pad {
    padding-left: 20px;
    padding-right: 20px; }
  ul.list > li {
    padding: 10px 0;
    list-style: none;
    border-bottom: 1px solid #ccc; }
    ul.list > li h4 {
      margin-left: 20px;
      color: darkred; }
  ul.list.options.check-out > li {
    padding: 10px 25px;
    border-bottom: none; }
    ul.list.options.check-out > li#order-type-con, ul.list.options.check-out > li#payment-type-con, ul.list.options.check-out > li#discount-con {
      padding: 10px 0px;
      border-bottom: 1px solid #ccc; }
    ul.list.options.check-out > li.cart-con {
      padding: 10px 0px; }

.item-type-desc-wrapper {
  position: relative; }
  .item-type-desc-wrapper hr {
    margin: 0;
    position: absolute;
    border-bottom: 1px dotted yellowgreen;
    border-top: none;
    width: 100%;
    bottom: 5px; }
  .item-type-desc-wrapper h5 {
    margin-bottom: 0; }
  .item-type-desc-wrapper span {
    background-color: #fefdf9;
    position: relative;
    padding-right: 2px; }
  .item-type-desc-wrapper .item-type-desc {
    color: #555555; }

body {
  font-family: museo-sans, Helvetica, Arial, sans-serif; }
  @media (max-width: 767px) {
    body {
      padding-left: 0px;
      padding-right: 0px; } }

.full-width {
  width: 100%; }

.full-height {
  height: 100%; }

html, body {
  height: 100%; }

#content {
  background-color: #fefdf9;
  position: relative;
  margin: 0 auto;
  height: 100%;
  max-width: 768px; }

.home-loader {
  background-color: #e21309;
  color: #fff;
  font-weight: 200;
  height: 100%;
  width: 100%;
  text-align: center; }

.op-logo.center {
  height: 35px;
  width: 250px;
  margin-top: 50px; }

.search-container {
  min-height: 100%;
  background-image: url("images/search-bg.png"); }

/*bootstrap modal over ride*/
.modal {
  width: 200px;
  margin-left: -100px; }
  .modal .modal-body {
    text-align: center;
    background-color: #f6f4e7;
    border: 1px solid yellowgreen; }
    .modal .modal-body h4 {
      margin: 0;
      margin-bottom: 10px; }

/* common */
.row-fluid .hidden {
  display: none; }

.transport-info {
  margin-left: 25px;
  display: inline-block; }

.pull-right {
  float: right; }

.prcocess-info {
  margin: 0 auto;
  background-color: #efebd8;
  height: 70px;
  width: 300px;
  font-size: 12px; }
  .prcocess-info li {
    margin-top: 10px;
    margin-right: 25px;
    display: inline-block; }
    .prcocess-info li:first-child {
      margin-left: 20px; }

.loader-large {
  margin: 0 auto;
  height: 60px;
  width: 65px;
  background-repeat: no-repeat;
  background-image: url("images/loader.gif"); }

.footer-con {
  width: 100%;
  position: fixed;
  bottom: 0; }

.footer {
  max-width: 768px;
  background-color: #f2f2f2; }

.c-white {
  color: #fff; }

.c-darkgreen {
  color: #137500;
  text-shadow: none; }

.res-tag {
  font-weight: 200;
  padding-top: 5px; }
  .res-tag h3 {
    font-weight: 200; }

#map-canvas {
	margin: 0 10px; 
	height: 150px;
}

/* navbar*/
.nav-center-con {
  position: relative;
  left: 50%;
  margin-left: -130px; }

.nav-session {
  margin: 5px; }

.title {
  width: 100%;
  background-color: #e21309;
  height: 40px; }

.op-logo.nav {
  height: 25px;
  width: 170px;
  margin: 5px;
  margin-bottom: 0; }

#menu {
  height: 50px;
  text-align: center; }

.abs-right {
  position: absolute;
  top: 5px;
  right: 10px; }

.bg-light-grey {
  background: #ededed; }

.hide {
  display: none; }

/*search view*/
#user-details-form.well {
  overflow-x: hidden;
  background: none;
  border: none; }

form {
  margin: 0; }

.form-con {
  background-color: #f6f4e7;
  display: inline-block;
  margin-top: 10px;
  width: 280px;
  padding: 10px; }
  .form-con input {
    width: 90%;
    height: 25px; }
  .form-con #forgot-password-button {
    width: 115px;
    height: 40px;
    padding: 2px;
    line-height: 40px; }
  .form-con #login-button {
    width: 110px;
    height: 40px;
    padding: 2px;
    line-height: 40px;
    padding-right: 30px; }

#search-form {
  z-index: 999;
  position: relative;
  margin-top: 0px; }
  #search-form input {
    width: 224px; }
  #search-form #zip {
    margin-bottom: 0px; }

.navbar-inverse.home-footer {
  font-size: 12px;
  z-index: 1; }

#search.btn {
  font-size: 16px;
  line-height: 32px; }

/*restaurant-list*/
.icon-restaurant {
  height: 40px;
  width: 40px;
  position: absolute;
  right: 15px;
  top: 15px; }

.rest-count {
  font-size: 14px;
  overflow: hidden;
  display: inline-block; }

#food-type-select, #sort-restaurants {
  float: right;
  margin: 3px 5px 0 0;
  vertical-align: top;
  max-width: 40%; }

#sort-restaurants {
  max-width: 25%; }

.search-toggle-button {
  padding: 0px 5px;
  min-height: 40px; }
  .search-toggle-button.selected {
    background-color: #9b0e05; }

/*Restaurant menu*/
.navbar-fixed-top a.show_cart {
  line-height: 0px;
  padding: 5px;
  background-color: transparent;
  display: inline-block;
  margin: 5px;
  border-radius: 3px;
  display: inline-block; }
  .navbar-fixed-top a.show_cart.hide {
    display: none; }

.navbar-inverse .nav li.span1 {
  margin: 0px; }
.navbar-inverse .nav li a.show_cart {
  line-height: 0px;
  padding: 5px;
  background-color: #0b7508;
  display: inline-block;
  margin: 5px;
  border-radius: 3px;
  display: inline-block; }
.navbar-inverse .nav li.cart-info {
  text-align: left; }
.navbar-inverse .nav li.checkout-btn {
  text-align: right; }

.res-name {
  width: 70%;
  height: 30px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

#restaurant-menu .false .add-btn {
  background-color: #999999; }

/*ingredients page*/
.products-and-ingredients {
  margin: 0 10px; }
  .products-and-ingredients .res-ing-head {
    height: 35px;
    border-bottom: 1px solid #dbd8d3; }
  .products-and-ingredients h4 {
    font-family: museo, Helvetica, Arial, sans-serif;
    color: #750600;
    margin-top: 10px; }
  .products-and-ingredients ul li:last-child {
    border: none; }

/* restaurant review*/
.restaurant-reviews-info .stick-info-con {
  position: relative; }
.restaurant-reviews-info .ex-pad {
  padding-right: 150px; }
  .restaurant-reviews-info .ex-pad p {
    margin-bottom: 0px; }
  .restaurant-reviews-info .ex-pad h4 {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 2px 0; }
.restaurant-reviews-info .res-timing {
  width: 123px;
  margin-top: 5px;
}

/*Checkout page*/
ul.list li.grey-row {
  min-height: 20px;
  background: #eee; }

.check-out.list .btn.btn-primary {
  text-transform: uppercase; }

#place-order.btn.btn-primary {
  text-transform: uppercase; }

.check-out.list .remove-item {
  margin-left: 10px; }
.check-out.list .price-val {
  color: green; }

.restaurant-list h4.restaurant-title {
  color: darkred;
  font-family: museo, Helvetica, Arial, sans-serif;
  padding: 10px 0; }
.restaurant-list li:last-child {
  border-bottom: none; }
.restaurant-list #select-payment small {
  color: grey; }

.premium .restaurant-list li.media:last-child  {
  border-bottom: 1px solid #dbd8d3;
}

.premium .restaurant-list li.media {
  background-repeat: no-repeat;
  background-position: 1px 18px;
  background-image: url("images/premium-addon.png"); 
}

#dicount-code {
  width: inherit; }

/* order staus*/
.order-details {
  margin: 0 auto; }
  .order-details tr td:first-child {
    width: 42%;
    text-align: right; }
  .order-details tr td:last-child {
    width: 48%;
    padding-left: 4%;
    text-align: left; }

#back-to-search {
  margin: 40px 0px; }

/* icons */
i.sprite {
  vertical-align: middle;
  background-image: url("images/sprite.png");
  display: inline-block;
  background-repeat: no-repeat;
  background-size: 300px 150px; }

i.sprite.geo-nav {
  height: 17px;
  width: 15px;
  margin: 3px 5px 3px;
  background-position: -138px 0px; }

i.sprite.lte {
  height: 12px;
  width: 12px;
  margin-top: 3px;
  background-position: -69px 0px; }

i.sprite.btn-lte {
  height: 33px;
  width: 33px;
  top: 5px;
  right: 5px;
  background-position: 0px -23px; }

i.sprite.info {
  height: 18px;
  width: 20px;
  vertical-align: middle;
  background-position: -161px 0px; }

i.sprite.up {
  height: 18px;
  width: 20px;
  position: relative;
  margin-top: 5px;
  background-position: -46px 0px; }

i.sprite.up.down {
  background-position: -23px 0px; }

i.sprite.plus {
  height: 13px;
  width: 10px;
  background-position: -230px 0px; }

i.sprite.cart {
  height: 20px;
  width: 20px;
  background-position: -184px 0px; }

i.sprite2 {
  background-image: url("images/1-2-3.png");
  background-size: 250px 60px;
  height: 60px;
  width: 80px; }

i.sprite2.i1 {
  background-position: 0px 0px; }

i.sprite2.i2 {
  background-position: -82px 0px; }

i.sprite2.i3 {
  background-position: -164px 0px; }

i.abs-r {
  position: absolute;
  right: 0px;
  top: 0px; }

i.sprite.button-back {
  height: 23px;
  width: 23px;
  display: inline-block;
  margin: 5px;
  vertical-align: top;
  background-position: 0px 0px; }

i.sprite.button-remove 
{
	width: 23px;
	height: 23px;
	background-position: -37px -26px; 
}

i.sprite.btn-lte-s {
  height: 20px;
  width: 16px;
  vertical-align: middle;
  background-position: -207px 0px; }

i.sprite.cross {
  height: 9px;
  width: 9px;
  margin: 0px 2px 3px;
  background-position: -92px 0px; }

i.sprite.open {
  height: 20px;
  width: 20px;
  background-position: -253px 0px; }

i.sprite.closed {
  height: 20px;
  width: 20px;
  background-position: -276px 0px; }

i.sprite.trolly {
  height: 35px;
  width: 35px;
  background-position: 0px -55px; }

i.sprite.coffe {
  height: 35px;
  width: 35px;
  background-position: -35px -55px; }

i.sprite.car {
  height: 30px;
  width: 40px;
  background-position: -70px -55px; }

i.sprite.takeaway {
  height: 25px;
  width: 25px;
  background-position: -50px -92px; }

i.sprite.delivery {
  height: 25px;
  width: 25px;
  background-position: 0px -93px; }

i.loading {
  height: 100px;
  width: 100px;
  display: inline-block;
  background-size: 100px 100px;
  background-image: url("images/loader2.gif"); }
  i.loading.hide {
    display: none; }

i.sprite.completed {
  height: 100px;
  width: 100px;
  background-position: -116px -18px; }

i.sprite.user {
  height: 16px;
  width: 10px;
  background-position: -115px 0px; }

i.sprite.magnify {
  height: 14px;
  width: 14px;
  background-position: -100px -92px; }

i.sprite.twitter {
  background-position: -240px -71px;
  height: 27px;
  width: 61px; }

i.sprite.fb {
  background-position: -195px -122px;
  height: 27px;
  width: 115px; }

.help-list.media-list .media-object {
  margin-right: 40px; }
.help-list.media-list li {
  border-bottom: none; }
.help-list.media-list ol li {
  list-style: decimal; }

.mobile-invoice-section #mobile-no-invoice, .mobile-invoice-section #mobile-invoice-pin {
  width: 50%;
  max-width: 100px; }
.mobile-invoice-section ol li {
  list-style: decimal; }
.mobile-invoice-section .btn.btn-primary {
  margin-bottom: 10px; }

.nsfpd-ele {
  display: none; }

.oad-bm {
  margin-bottom: 200px; }

.old-android .navbar-inverse.navbar-fixed-bottom {
  position: static; }
  .old-android .navbar-inverse.navbar-fixed-bottom.oad-ns {
    position: fixed; }
.old-android .navbar-inverse-spacer.bottom {
  display: none; }
  .old-android .navbar-inverse-spacer.bottom.oad-ns {
    display: block; }
.old-android .navbar-fixed-top .show_cart.hide {
  display: inline-block; }
.old-android .nsfpd-ele {
  display: inline-block; }

#payment-type-con #select-payment small {
  display: block; }

#payment-type-con p.payment-type {
  margin-bottom: 0; }

input, button, select, textarea {
  font-family: museo-sans, Helvetica, Arial, sans-serif; }

/* search form in city page */
#search-form-city 
{
	z-index: 999;
	position: relative;
	margin: 10px 5px 0 0;
}

#search-form-city #hide_zip_search
{
	position: absolute;
	top: -15px;
	right: -5px;
}

#search-form-city #zip 
{
    margin: 0;
	padding: 4px 6px;
	width: 80px;
	height: 22px;
}

#search-form-city #geo-loc.btn
{
	margin: 0;
	padding: 0;
	width: 30px;
	line-height: 30px;
}

#search-form-city #search.btn
{
	margin: 0;
	padding: 0;
	width: 145px;
	line-height: 30px;	
}

#search-form-city #search.btn i
{
	margin: 6px 5px 0 0;
}

#search-form-city #hide_zip_search:focus
{
	outline: none;
}
