html {
    -webkit-font-smoothing: antialiased;
}
a {
    text-decoration: none;
}
* {
    outline: none !important;
    -ms-touch-action: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
    -webkit-focus-ring-color:  rgba(0, 0, 0, 0);
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input, select {
    -webkit-appearance: button;
    -moz-appearance: button;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
    -webkit-focus-ring-color:  rgba(0, 0, 0, 0);
    backround: rgba(0,0,0,0);
    border-radius: 0;
    border: none;
    padding: 0;
    margin: 0;
}
body {
    font-size: 26px;
    font-family: 'Georgia', 'Palatino Linotype', 'Book Antiqua', Palatino, FreeSerif, serif;
    color: #333333;
    -webkit-user-select: none;
    -webkit-backface-visibility: hidden;
}
div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.scroll{
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}
#container {
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

#sidebar {
    position: fixed;
    top:0;
    height: 100%;
    width:500px;
    background-color: #090000;
    z-index: 1000;
    background-image: url('../img/sidebar-bg.jpg');
    background-size: cover;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

#sidebar ul {
    margin: 0;
    margin-top: 150px;
    padding: 0;
    list-style: none;
}

#sidebar h2 {
    margin: 0;
    height:58px;
    color: rgba(0,0,0,0.4);
    text-shadow: 0 0 1px rgba(0,0,0,0.1);
    font-weight: 300;
    font-size: 30px;
}

#sidebar ul li a {
    display: block;
    padding: 50px 0;
    outline: none;
    color: white;
    font-size: 32px;
    text-align: center;
    border-bottom: 1.001px solid  rgba(255,255,255,0.1);
}
#sidebar ul li:last-child a{
    border-bottom: 0;
}


#sidebar ul li a:hover {
    background: rgba(0,0,0,0.2);
    color: #fff;
}


.overlay-bg {
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.54);
    opacity: 0;
    z-index: -1;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
}
#sidebar-screen-switcher{
    position: absolute;
    left:0;
    top:100px;
    width:5.001px;
    bottom:0;
    z-index: 1000;
}


.st-menu-open #sidebar {
    z-index: 1000;
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
}

.st-menu-open .overlay-bg{
    visibility: visible;
    z-index: 999;
    opacity: 1;
}

#searchpanel {
    display:none;
}

.page {
    position: absolute;
    top: 0;
    left:0;
    height: 100%;
    width:100%;
    background: #fff;
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
}

#main .header {
    position: relative;
    width:100%;
    height:100.002px;
    background-color: #78b33e;
    background-image: url('../img/header-bg.png');
    background-size: 86px 100px;
    text-align: center;
}
#toggle-sidebar-btn{
    height:100px;
    width: 75px;
    background-image: url(../img/header-sidebar-btn.png);
    background-position: 25% 50%;
    background-repeat: no-repeat;
    background-size: 12px 36px;
    float:left;
}
#toggle-searchpanel-btn{
    height:100px;
    width: 75px;
    background-image: url(../img/header-search-btn.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 36px 36px;
    float:right;
}

#header-logo{
    height:100px;
    width: 160px;
    background-image: url(../img/header-logo.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 150px 60px;
    margin:0 auto;
    display:inline-block;
}

.border-bottom
{
    position: absolute;
    bottom:0;
    width: 100%;
    height:10px;
    background-image: url('../img/header-border.png');
    background-repeat: repeat-x;
    background-size: 22px 8px;
    background-position: 0 100%;
}
.tabpanel {
    width:100%;
    height:85.002px;
    background-color: #fff;
    display:table;
}
.tabpanel > div {
    font-size: 1em;
    width:50%;
    color: #b4b4b4;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    box-sizing: border-box;
    border-bottom: 1.002px solid #ebebeb;
    padding-bottom: 3.001px;
}

.tabpanel div.active {
    padding-bottom: 0;
    border-bottom: 3.001px solid #fed676;
    color: #333333;
}

#main-content{
    position: absolute;
    top:100.085px;
    bottom: 0;
    width:100%;
    display: block;
    overflow: hidden;
}
#main-content > div, #details-content > div{
    position:relative;
    display: block;
    width:100%;
    height: 100%;
}
#main-map, #main-list {
    top:0;
    width:100%;bottom:0;
    position:absolute;
    display: block;
    background-color: #f4f4f4;
    overflow: hidden;
    -webkit-transition:  -webkit-transform 0.2s;
    transition: transform 0.2s;
}
#main-list {
    background: white;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}
.right-side {
    -webkit-transform: translate3d(100%, 0, 0) !important;
    transform: translate3d(100%, 0, 0)  !important;
}

.left-side {
    -webkit-transform: translate3d(-100%, 0, 0)  !important;;
    transform: translate3d(-100%, 0, 0)  !important;
}

.bottom-side {
    -webkit-transform: translate3d(0, 100%, 0) !important;
    transform: translate3d(0, 100%, 0)  !important;
}

.page-center {
    -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
}
#main-map-restaurants {
    position: absolute;
    z-index:100;
    bottom: 20px;
    width:100%;
    height:180px;
    display:block;
}
#main-map-restaurant-wrapper {
    width: 15000px;
    height:170px;
    display: table;
}

#main-map-restaurant-wrapper section {
    width:100.401%;
    height:100%;
    float:left;
}
#main-map-restaurant-wrapper section > div {
    padding: 10px;
    overflow: hidden;
    width:100%;
    height:100%;
}
.main-map-restaurant-block{
    height:160px;
    background: white;
    -webkit-box-shadow: 0px 2px 7px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 2px 7px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 2px 7px 0px rgba(0,0,0,0.3);
    webkitTransition: background 0.15s;
}
.pushed-block {
    background: #f5f5f5;
}
.maximize-block{
    top:0 !important;
    bottom:0 !important;;
    left:0 !important;;
    right:0 !important;
}
#main-map-restaurants .ftscroller_container {
    overflow: hidden;
    padding: 0 20px;
    width: 100%;
}
.main-map-restaurant-block table, #main-list table{
    width:100%;
    border-spacing: 0;
}
#main-list .main-list-restaurant-block{
    border-bottom: 1.001px solid #ebebeb;
    transition: background 0.15s;
}
.main-map-restaurant-block table tr, #main-list table tr{
    vertical-align: top;
}

.main-map-restaurant-block table td, #main-list table td{
    white-space: nowrap;
}
.restaurant-list-item-logo{
    width: 150px;
    height:170px;
    background-image: url(../img/logos/logo-mond.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 97px;
}
.main-list-restaurant-block .restaurant-list-item-logo{
    height:150px;
}
.restaurant-list-item-name{
    padding-right: 10px;
    padding-top:20px;
    font-size: 32px;
    font-weight: bold;
}
.restaurant-list-item-location{
    padding:22px 20px 0 25px;
    color: #a2a2a2;
    width:80px;
    background-image: url(../img/location-marker.png);
    background-position: 0 23px;
    background-size: 21px 30px;
    background-repeat: no-repeat;
}

.restaurant-list-item-address{
    padding: 5px 20px 0 0;
    overflow: hidden;
    color: #a2a2a2;
}

.restaurant-list-item-name > div, .restaurant-list-item-address > div {
    width: 0;
    min-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.restaurant-list-item-line{

}
.restaurant-list-item-starrating{
    margin-top: 15px;
    margin-bottom:20px;
    width: 163px;
    height: 22px;
    background-image: url('../img/stars-empty.png');
    background-repeat: no-repeat;
    background-size: 162px 22px;
}
.restaurant-list-item-starrating-filled{
    height: 22px;
    background-image: url('../img/stars-filled.png');
    background-repeat: no-repeat;
    background-size: 162px 22px;
}
.restaurant-list-item-features{

}

#details {
    z-index:200;
    background: #f8f8f8;
}
#details-header, #dish-header {
    position: relative;
    width:100%;
    height:360.002px;
    background-color: #78b33e;
    background-image: url('../img/header-bg.png');
    background-size: 86px 100px;
    text-align: center;
    overflow: hidden;
    z-index: 210;
    -webkit-transform: translate3d(0, 0, 0);
}
#details-header.fixed {
    position: fixed;
    top: -252.002px;
}
#details-header-info.fixed {
    height: 80px;
    bottom: 15px;
}
#details-tabpanel.fixed {
    position: fixed;
    top: 108px;
}

#details-header .header-bg, #dish-header .header-bg {
    position: absolute;
    top: 0;
    left:-2px;
    right:0;
    bottom: 0;
    background-size: cover;
    background-position: 25% 50%;
}

#back-btn {
    position: fixed;
    top: 8px;
    left:0;
    height: 55px;
    width: 50px;
    padding:40px 80px 40px 0;
    z-index:910;
    background-image: url('../img/back-btn.png');
    background-size: 50px 55px;
    background-position: 0 50%;
    background-repeat: no-repeat;
    -webkit-transition:  -webkit-transform 0.2s;
    transition: transform 0.2s;
}
#details-tabpanel {
    z-index: 210;
    position: relative;
    -webkit-transform: translate3d(0, 0, 0);
}
#details-header-info {
    position: absolute;
    bottom: 15px;
    height:120px;
    width: 100%;
    overflow:hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transition: height 0.15s;
    transition: height 0.15s;
}
#details-header-title {
    color: white;
    font-size: 36px;
    padding-bottom:5px;
    text-shadow: 0 1.001px 1.001px rgba(0, 0, 0, 0.5);
    font-weight: bold;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#details-header-address {
    color: #fafafa;
    font-size: 24px;
    padding-bottom:5px;
    text-shadow: 0 0 1.001px rgba(0, 0, 0, 0.5);
}

#details-header-info > div {
    text-align: center;
    width:100%;
}
#details-header-rating {
    padding-top:5px;

}
#details-header-rating > div {
    margin: 0 auto;
}
@media (min-width:1281px) {
    #details-header .header-bg {
        -webkit-filter: blur(5px);
    }
}

@media (min-width:2000px) {
    #details-header .header-bg {
        -webkit-filter: blur(15px);
    }
}
#details-content {
    position:absolute;
    width:100%;
    top: 360.085px;
    background: #f8f8f8;
    padding-bottom:200px;
}

#details-tabpanel > div {
    width:33.33%;
}

#details-wrapper{
    width:100%;
}
#cart-bottom-block {
    position: fixed;
    z-index: 220;
    width:100%;
    height: 128px;
    bottom: 0;
    background: #fff;
    border-top: 1.002px solid #e5e5e5;
    -webkit-transition:  -webkit-transform 0.3s;
    transition: transform 0.3s;
    white-space: nowrap;

}
#cart-bottom-block > div {
    float:left;
}
#cart-bottom-icon {
    margin:29px;
    width: 70px;
    height: 70px;
    background-image: url('../img/cart-icon.png');
    background-repeat: no-repeat;
    background-size: cover;
}
#cart-bottom-info{
    height: 128px;
    width:110px;
    padding: 25px 0;
}
#cart-bottom-total {
    font-size:36px;
    font-weight: bold;
}

#cart-bottom-total span{
    font-size: 26px;
}
#cart-bottom-items {
    color: #a2a2a2;
    font-size:24px;
}

.bottom-panel-btn {
    height: 128px;
    float:right !important;
    width:50%;
    max-width:500px;
    text-align: center;
}

.bottom-panel-btn div{
    height: 70px;
    color: white;
    font-size:32px;
    background-color: #aace63;
    border-radius: 35px;
    line-height: 70px;
    margin-left:30px;
    margin-right:25px;
    margin-top:29px;
}

.bottom-panel-btn div.plain{
    color: #666;
    background-color: #fff;
}

.menu-category {
    width: 0;
    min-width: 100%;
    padding-right:90px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 125px;
    text-align: center;
    line-height: 125px;
    background-color: white;
    border-bottom: 1.002px solid #efefef;
    background-size: 48px 48px;
    background-position: 100.781% 50%;
    background-repeat: no-repeat;
    font-size:32px;
    font-weight: bold;
    background-image: url('../img/up-icon.png');
    -webkit-transition: background-color 0.15s;
}

.menu-category.closed {
    background-image: url('../img/down-icon.png');
}

.menu-category.hover {
    background-color: #f5f5f5;
}
.menu-items-container.closed {
    display:none;
}

.menu-item{
    width:100%;
    height: 125px;
    background-color: #f8f8f8;
    border-bottom: 1.002px solid #efefef;
    -webkit-transition: background-color 0.15s;
}
.menu-item.hover {
    background-color: #f1f1f1;
}
.menu-items-container table:first-child {
    -webkit-box-shadow: inset 0px 15px 35px -25px rgba(0,0,0,0.15);
    box-shadow: inset 0px 15px 35px -25px rgba(0,0,0,0.15);
}

.menu-item tr{
    vertical-align: top;
}

.menu-item tr:first-child{
    height: 75px;
}

.menu-item tr td{
    white-space: nowrap;
}
.menu-item-img{
    width: 130px;
    height:100%;
    background-image: url(../img/dish-sm-icon.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 80px 80px;
    vertical-align: middle;
}
.menu-item-img div{
    margin:0 auto;
    width: 66px;
    height: 66px;
    background-image: url('../img/logos/dish.jpg');
    background-size: cover;
    border-radius: 33px;
}

.menu-item-btn{
    width: 110px;
    height:100%;
    background-image: url(../img/plus-icon.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 50px 50px;
    vertical-align: middle;
}

.menu-item-name {
    width: 0;
    min-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 30px;
    padding: 0;
    padding-top: 26px;
}

.menu-item-price{
    padding-left: 30px;
    width:80px;
    font-size:24px;
    background-image: url(../img/price-sm-icon.png);
    background-position: 0 48%;
    background-size: 19px 19px;
    background-repeat: no-repeat;
    font-family: serif;
}
#dish {
    z-index: 1300;
    display: none;
    -webkit-transform: translate3d(0, 0, 0);
}
#dish-header {
    background-image: url('../img/header-bg-white.png');
    background-color: #f5f5f5;
}
#dish-bottom-panel {
    position: fixed;
    z-index: 5320;
    bottom: 0;
    width: 100%;
    height: 130px;
    background-color: #f5f5f5;

    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
#dish-wrapper {
    padding-bottom: 150px;
}
#dish-content{
    padding: 0 50px;
}
#dish-content h3 {
    text-align: center;
}

#dish-content p {
    font-family: serif;
}
#dish-content-info {
    width: 100%;
    height: 60px;
    text-align: center;
    line-height: 60px;
}
#dish-content-info-price{
    float:left;
    min-width: 120px;
    height: 60px;
    padding-left:25px;
    color: #a2a2a2;
}
#dish-content-info-count{
    margin:0 auto;
    display:inline-block;
    height: 60px;
    padding-left:7px;
}
#dish-content-info-time{
    float:right;
    padding-left:25px;
    min-width: 120px;
    height: 60px;
    color: #a2a2a2;
    background-image: url(../img/time-icon.png);
}

#dish-content-info-count div{
    float:left;
}

#dish-content-info-count-plus, #dish-content-info-count-minus {
    font-size: 36px;
    padding:0 25px;
    cursor: pointer;
}
#dish-content-info-count-input {
    height: 40px;
    border: 1.002px solid #ccc;
    border-radius: 25px;
    width: 50px;
    padding: 0 20px 5px 20px;
    text-align: center;
    font-size: 32px;
    line-height: 40px;
    box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.1);
}
#dish-additives h4{
    clear: both;
    text-align: center;
    background-image: url(../img/p-light.png);
    background-position: 0 50%;
    background-size: 1.001px 1.001px;
    background-repeat: repeat-x;
    margin:30px 0;
}
#dish-additives h4 span{
    background: white;
    padding: 0 20px;
}

.dish-additives-list{
    padding: 0 50px;
    display: block;
    float:left;
    width: 100%;
}

.dish-additives-list > div{
    float:left;
    height: 55px;
    width:48%;
    margin-bottom:20px;
    background-color: #f5f5f5;
    text-align: center;
    border-radius: 27px;
    line-height: 55px;
    font-family: serif;

    background-image: url(../img/btn-plus-icon.png);
    background-position: 20px 50%;
    background-size: 24px 24px;
    background-repeat: no-repeat;
}
.dish-additives-list > div.checked{
    color: white;
    background-color: #aace63;
    background-image: url(../img/btn-checked-icon.png);
}

.dish-additives-list.radio > div{
    background-image: url(../img/radio-plain-icon.png);
}
.dish-additives-list.radio > div.checked{
    background-image: url(../img/radio-checked-icon.png);
}


.dish-additives-list > div:nth-child(even){
    margin-left:4%;
}
.dish-additives-list > div:last-child{
    margin-bottom:40px;
}
#dish-bottom-panel .bottom-panel-btn{
    max-width: none;
}